{
  "openapi": "3.1.0",
  "info": {
    "title": "Antoine Blot - Consultant SEO et GEO à Montréal - contenu",
    "description": "Accès en lecture au miroir Markdown du site (pour les LLMs).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.antoine-blot.com"
    }
  ],
  "paths": {
    "/data/fr/blogue/analyser-rentabilite-strategie-omnicanal.md": {
      "get": {
        "summary": "Analyser la rentabilité d’une stratégie omnicanal",
        "description": "Vous l’avez sans doute remarqué : aujourd’hui, l’omnicanal est devenu un enjeu incontournable pour les entreprises. Mais comment l'analyser et en tirer parti ?",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/marketing-externalise-pme-quebec.md": {
      "get": {
        "summary": "Externaliser son marketing : stratégie ou plafond de verre ?",
        "description": "Le marketing est trop stratégique pour être géré à temps partiel. Découvrez quand internaliser et comment structurer votre croissance avec Antoine Blot.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/seo-ne-vend-plus-autorite-visibilite.md": {
      "get": {
        "summary": "Le SEO ne vend plus : pourquoi la visibilité est devenue une commodité",
        "description": "Le trafic organique ne garantit plus la conversion. Découvrez pourquoi l'ère du SEO classique s'achève et comment le knowledge branding redéfinit la stratégie marketing des entreprises performantes.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/intelligence-artificielle-fonction-marketing.md": {
      "get": {
        "summary": "Quand l’intelligence artificielle remet en question le marketing",
        "description": "L’IA redéfinit la valeur, la cohérence et le discernement des marques à l’ère du marketing augmenté.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/role-cmo-pme.md": {
      "get": {
        "summary": "Le rôle du CMO dans une PME : vision, structuration et pilotage",
        "description": "Que fait un CMO en PME ? Découvrez le rôle stratégique du directeur marketing : structurer, piloter, aligner et préparer la croissance.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/structurer-fonction-marketing-pme.md": {
      "get": {
        "summary": "Structurer la fonction marketing : méthode, modèles et rôle du CMO",
        "description": "Structurer la fonction marketing en PME : étapes clés, modèles organisationnels, et rôle du CMO pour piloter une croissance alignée.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/comment-ia-transforme-seo.md": {
      "get": {
        "summary": "Comment l'IA transforme le SEO : des intentions à l'optimisation",
        "description": "Découvrez comment l'intelligence artificielle redéfinit le SEO, en passant de l'analyse d'intentions utilisateur à l'optimisation contextuelle",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/micro-interactions-psychologie-utilisateur.md": {
      "get": {
        "summary": "Micro-interactions et psychologie : le pouvoir de l'expérience client",
        "description": "Découvrez l'impact subtil mais puissant des micro-interactions dans l'expérience utilisateur. Explorez comment ces détails bien pensés influencent les clients",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/comprendre-transformation-digitale.md": {
      "get": {
        "summary": "Comprendre la transformation digitale : un levier stratégique pour les entreprises",
        "description": "Découvrez les fondamentaux de la transformation digitale, son cadre historique et ses impacts organisationnels. Un guide pour comprendre son rôle stratégique.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/principaux-defis-transformation-digitale.md": {
      "get": {
        "summary": "Les principaux défis de la transformation digitale : obstacles et solutions",
        "description": "Découvrez les principaux défis de la transformation digitale et apprenez à les surmonter pour booster la résilience et la compétitivité de votre entreprise.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/opportunites-transformation-digitale.md": {
      "get": {
        "summary": "Transformation digitale : réinventer les modèles d’affaires et enrichir l’expérience client",
        "description": "Découvrez comment la transformation digitale permet de redéfinir leurs modèles économiques, optimiser l’expérience client et exploiter les données pour atteindre une croissance durable et innovante",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/reussir-transformation-digitale-conseils-pratiques-strategie.md": {
      "get": {
        "summary": "Réussir sa transformation digitale : conseils pratiques et stratégie",
        "description": "De l’évaluation de la maturité numérique à l’adoption d’une culture d’innovation, découvrez des conseils pratiques pour une transformation digitale réussie.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/enjeux-et-problematiques-tracking-omnicanal.md": {
      "get": {
        "summary": "Enjeux et problématiques du tracking omnicanal - Dossier thématique",
        "description": "Apprenez les enjeux et les problématiques du tracking omnicanal. Connecter vos points de vente physiques et digitaux avec des solutions de suivi accessibles et performantes",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/outils-tracking-omnicanal-petits-comptes-quelles-solutions.md": {
      "get": {
        "summary": "Les outils de tracking omnicanal pour les petits comptes : quelles solutions ?",
        "description": "Avant de plonger dans le choix d’outils spécifiques, il est essentiel de poser les bases d’une solution de tracking omnicanal.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/solutions-activables-retail-physique.md": {
      "get": {
        "summary": "Solutions activables pour le retail physique",
        "description": "Découvrez des solutions activables pour le retail physique alliant suivi omnicanal et outils de tracking pour connecter efficacement les interactions en boutique et en ligne.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/intelligence-artificielle-impact-marketing.md": {
      "get": {
        "summary": "L’essor de l’IA générative dans les stratégies marketing",
        "description": "Découvrez comment l’IA générative transforme la création de contenu, l’automatisation des campagnes et l’expérience client en marketing numérique",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/importance-eeat-seo.md": {
      "get": {
        "summary": "L’importance de l’E-E-A-T dans le SEO : comment booster votre référencement ?",
        "description": "Quand avez-vous vérifié pour la dernière fois la qualité réelle de vos contenus web ?",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/integration-intelligence-artificielle-strategies-seo.md": {
      "get": {
        "summary": "Comment intégrer efficacement l'intelligence artificielle à votre stratégie SEO ?",
        "description": "Découvrez les bonnes pratiques pour intégrer l'IA à vos stratégies SEO tout en respectant les critères E-E-A-T et l'authenticité du contenu.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/quand-le-seo-ne-suffit-plus-strategie-marketing-ia.md": {
      "get": {
        "summary": "Quand le SEO ne suffit plus : repenser sa stratégie marketing",
        "description": "À l’ère des IA génératives, le SEO seul ne suffit plus. Comment les marques construisent une autorité cognitive durable dans des parcours éclatés ?",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/fr/blogue/recruter-externaliser-marketing-pme.md": {
      "get": {
        "summary": "Recruter ou externaliser son marketing en PME : comment choisir le bon modèle ?",
        "description": "PME, startup : faut-il recruter un responsable marketing ou faire appel à une agence ? Suivez notre guide pour choisir le bon modèle.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/outsourcing-your-marketing.md": {
      "get": {
        "summary": "Outsourcing Your Marketing: Strategy or Glass Ceiling?",
        "description": "Marketing is too strategic to be managed part-time. Discover when to bring it in-house and how to structure your growth with Antoine Blot.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/how-ai-is-transforming-seo.md": {
      "get": {
        "summary": "How AI is transforming SEO: from intent to optimization",
        "description": "Learn how artificial intelligence is redefining SEO, moving from user intent analysis to contextual optimization.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/micro-interactions-user-psychology.md": {
      "get": {
        "summary": "Micro-interactions and psychology: the power of customer experience",
        "description": "Discover the subtle but powerful impact of micro-interactions on user experience, and how these well-designed details influence customers.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/omnichannel-strategy-profitability.md": {
      "get": {
        "summary": "Analyzing the profitability of an omnichannel strategy",
        "description": "Omnichannel has become a must for businesses. But how do you analyze its profitability and make the most of it?",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/understanding-digital-transformation.md": {
      "get": {
        "summary": "Understanding digital transformation: a strategic lever for businesses",
        "description": "Learn the fundamentals of digital transformation, its historical context and its organizational impact. A guide to understanding its strategic role.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/digital-transformation-challenges.md": {
      "get": {
        "summary": "The main challenges of digital transformation: obstacles and solutions",
        "description": "Discover the main challenges of digital transformation and learn how to overcome them to boost your company's resilience and competitiveness.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/digital-transformation-opportunities.md": {
      "get": {
        "summary": "Digital transformation: reinventing business models and enriching the customer experience",
        "description": "Discover how digital transformation helps businesses redefine their business models, optimize the customer experience and use data for sustainable growth.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/digital-transformation-success-tips.md": {
      "get": {
        "summary": "Succeeding at digital transformation: practical tips and strategy",
        "description": "From assessing digital maturity to adopting a culture of innovation, discover practical tips for a successful digital transformation.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/omnichannel-tracking-challenges.md": {
      "get": {
        "summary": "Omnichannel tracking challenges and issues - In-depth report",
        "description": "Learn the challenges and issues of omnichannel tracking. Connect your physical and digital points of sale with accessible, effective tracking solutions.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/omnichannel-tracking-tools-small-businesses.md": {
      "get": {
        "summary": "Omnichannel tracking tools for small businesses: what are the options?",
        "description": "Before diving into the choice of specific tools, it is essential to lay the foundations of an omnichannel tracking solution.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/actionable-solutions-physical-retail.md": {
      "get": {
        "summary": "Actionable solutions for physical retail",
        "description": "Actionable solutions for physical retail that combine omnichannel tracking and measurement tools to connect in-store and online interactions effectively.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/ai-impact-on-marketing.md": {
      "get": {
        "summary": "The rise of generative AI in marketing strategies",
        "description": "See how generative AI is transforming content creation, campaign automation and customer experience in digital marketing",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/why-eeat-matters-for-seo.md": {
      "get": {
        "summary": "Why E-E-A-T matters for SEO: how can you boost your rankings?",
        "description": "When did you last check the real quality of your web content?",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/integrating-ai-into-seo-strategy.md": {
      "get": {
        "summary": "How to effectively integrate artificial intelligence into your SEO strategy",
        "description": "Learn the best practices for integrating AI into your SEO strategies while meeting E-E-A-T criteria and keeping your content authentic.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/when-seo-is-not-enough-ai-marketing-strategy.md": {
      "get": {
        "summary": "When SEO is no longer enough: rethinking your marketing strategy",
        "description": "In the age of generative AI, SEO alone is no longer enough. How do brands build lasting cognitive authority across fragmented customer journeys?",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/cmo-role-small-business.md": {
      "get": {
        "summary": "The CMO's role in a small business: vision, structure and management",
        "description": "What does a CMO do in a small business? Discover the marketing director's strategic role: structure, manage, align and prepare for growth.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/hire-or-outsource-marketing.md": {
      "get": {
        "summary": "Hiring or outsourcing marketing in a small business: how do you choose the right model?",
        "description": "Small business or startup: should you hire a marketing manager or bring in an agency? Follow our guide to choose the right model.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/structuring-the-marketing-function.md": {
      "get": {
        "summary": "Structuring the marketing function: method, models and the CMO's role",
        "description": "Structuring the marketing function in a small business: key steps, organizational models, and the CMO's role in managing aligned growth.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/ai-and-the-marketing-function.md": {
      "get": {
        "summary": "When artificial intelligence calls marketing into question",
        "description": "AI is redefining the value, consistency and discernment of brands in the age of augmented marketing.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/en/blog/seo-no-longer-sells-authority-visibility.md": {
      "get": {
        "summary": "SEO no longer sells: why visibility has become a commodity",
        "description": "Organic traffic no longer guarantees conversions. Why the era of classic SEO is ending and how knowledge branding is redefining marketing strategy.",
        "tags": [
          "content"
        ],
        "responses": {
          "200": {
            "description": "Article en Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
